{% extends "base.html" %}

{% block titulo %} Agregar información sobre estudiantes {% endblock %}

{% block contenido %} 

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">  
            <div class="card-header">
                   <h4 class="card-title">Agregar información sobre estudiantes</h4>
               </div>
           <div class="card-body">
           {% include 'estudiantes/form.html' %}
           </div>
        </div>
    </div>
</div>

{% endblock %}   
